*{
    padding: 0;
    margin: 0;
}
body{
  font-family: 'Outfit', sans-serif;
  background-color: white;
}




.book-head{
    font-family: "Outfit",sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #2A2E34;
    position: absolute;
    top: 50px;
    left: 600px;
}

.book-head-detail{
     font-family: "Outfit",sans-serif;
    font-size: 18px;
    color: #2A2E34;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 400px;
}
.book-detail-hypen{
    height: 7px;
    border-radius: 5px;
    width: 60px;
    position: absolute;
     top: 190px;
    left: 700px;

    background-color: #F9A602 ;
    align-items: center;
}

.new-session-box{
    height: 835px;
    width: 420px;
    background-color: #F7F7F7;
    position: relative;
    top: 240px;
    left: 220px;
       box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
       border-radius: 20px;
}
.new-session-head{
    font-size: 20px;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 40px;
}
.new-session-options-skill{
    margin-top: 20px;
    margin-left: 40px;
}
.skill-options{
    padding-top: 20px;
   
}
.skill-select{
    padding: 10px;
    width: 360px;
 
}
.skill-select:hover{
     border: 2px solid #F9A602;
}
.mode-section{
      margin-top: 20px;
    margin-left: 40px;
}
.date-section{
    margin-top: 20px;
    margin-left: 40px;
}
.date-section input{
    margin-top: 20px;
    margin-left: 0px;
     padding: 10px;
    width: 335px;
}
.time-section{
    margin-top: 20px;
    margin-left: 40px;
}
.time-section input{
    margin-top: 20px;
    margin-left: 0px;
     padding: 10px;
    width: 335px;
}
.date-section input:hover{
     border: 2px solid #F9A602;
}
.time-section input:hover{
    border: 2px solid #F9A602;
}
.Message-area{
      margin-top: 20px;
      pointer-events: auto;
    margin-left: 40px;  
}

.Message-area textarea{
    margin-top: 20px;
    height: 120px;
    width: 317px;
    resize: none;
}
.Message-area textarea:hover{
    border: 2px solid #F9A602;
}

.Message-area textarea{
    padding: 15px 20px;
}
.info-bottom{
     margin-top: 20px;
    margin-left: 40px;   
}
.info-bottom p2{
    font-weight: 600;
}
.nav-btn button{
  height: 40px;
  width: 130px;
  border-radius: 10px;
  background-color: #F9A602;
  font-weight: 700;
  font-size: 12px;
  font-family: 'Outfit', sans-serif;
  transition: transform 0.4s ease-in-out;
  border: none;

}
.nav-btn{
      position: absolute;
  top: 93%;
  right: 59%;
  text-decoration: none;
  border: none;
}

.nav-sections li:hover{
    cursor: pointer;
    color:#F9A602;
     text-decoration: underline;
    
}
.nav-btn button:hover{
    cursor: pointer;
     transform: scale(1.2);
   
}

/* SESSION REQUESTS RIGHT SIDE */


.My-Session-REQUESTS{
    position: relative;
    display: flex;
}
.My-Session-REQUESTS-head{
    position:absolute;
    top: -590px;
    left: 730px;
}
.My-Session-REQUESTS-box{
    position:absolute;
    height: 50px;
    width: 600px;
    background-color: #F7F7F7;
     top: -530px;
    left: 730px;
}
.My-Session-REQUESTS-box ul{
    display: flex;
    list-style:none;
    justify-content: space-around;
    margin-top: 17px;
    font-size: 15px;
    font-weight: 600;
    color: #555555;
    font-family: 'Outifit',sans-serif;
}
/* .My-Session-REQUESTS-box-details ul{
    display: flex;
    list-style:none;
    justify-content: space-around;
    margin-top: 17px;
    font-size: 15px;
    font-weight: 600;
    color: #555 555;
    font-family: 'Outifit',sans-serif;
} */


/* request box 1 */


.My-Session-REQUESTS-box-details{
    position: absolute;
       top: 370px;

    left: 730px;
   
}
.My-Session-REQUESTS-box-details ul{
     display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 95px;

}

/* request box 2 */


.My-Session-REQUESTS-box-details2{
    position: absolute;
       top: 420px;

    left: 730px;
   
}
.My-Session-REQUESTS-box-details2 ul{
     display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 95px;

}


/* request box 3 */


.My-Session-REQUESTS-box-details3{
    position: absolute;
       top: 470px;

    left: 730px;
   
}
.My-Session-REQUESTS-box-details3 ul{
     display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 85px;

}








.hr-align{
    position: absolute;
    margin-top: 10px; 
    width: 600px
    
}


/* 
session teaching right */







.My-Session-REQUESTS2{
    position: relative;
    display: flex;
}
.My-Session-REQUESTS-head2{
    position:absolute;
    top: -250px;
    left: 730px;
}
.My-Session-REQUESTS-box2{
    position:absolute;
    height: 50px;
    width: 600px;
    background-color: #F7F7F7;
     top: -190px;
    left: 730px;
}
.My-Session-REQUESTS-box2 ul{
    display: flex;
    list-style:none;
    justify-content: space-around;
    margin-top: 17px;
    font-size: 15px;
    font-weight: 600;
    color: #555555;
    font-family: 'Outifit',sans-serif;
}



.My-Session-REQUESTS-box-details5{
    position: absolute;
       top: 720px;

    left: 730px;
   
}
.My-Session-REQUESTS-box-details5 ul{
     display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 90px;

}
.My-Session-REQUESTS-box-details6{
    position: absolute;
       top: 780px;

    left: 730px;
   
}
.My-Session-REQUESTS-box-details6 ul{
     display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 87px;

}

/* footer section */

.footer-area{
    height: 130px;
    width: 100%;
    margin-top: 330px;
    background-color:#17191d;
    border-top: 5px solid #F9A602;
}
